{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body>
	{% block content %}
	{{util.flashed_messages()}}
	<style type="text/css" media="screen">
		body {font-size: 20px;}
	</style>
	<div class="container">
		<center><h1>Social Initiative</h1></center>
	
		<ul>
			<li><a href="https://www.indiegogo.com/">Indigogo</a></li>
			<li><a href="https://www.timeauction.org/">Win Auction</a></li>
			<li><a href="https://www.youcanfundme.com/">You can fund me</a></li>
			<li><a href="https://www.kickstarter.com/">Kick Starter</a></li>
		</ul>
	</div>

		{% endblock %}
	{% block head %}
	{{super()}}
	{{fixes.ie8()}}
	{% endblock %}

</body>`
</html>